/* * {
  margin: 0;
  padding: 0;
}

.Body {
  background-image: url('../public/img/background.jpg');
  background-size: cover;
  height: 500px;
}

.Title {
  font-size: 3rem;
}

.Kenobi {
  font-size: 1.5rem;
}

.Name {
  padding-top: 3rem;
  font-size: 1.2rem;
}

.Bio {
  width: 60%;
  padding-top: 1rem;
  font-size: 1.2rem;

}

.App {
  font-family: Monospace;
  padding: 4rem;
  padding-left: 30%;
} */

/* <a href="https://www.freepik.com/free-vector/vibrant-summer-ombre-background-vector_15847314.htm#query=gradient&position=2&from_view=keyword">Image by rawpixel.com</a> on Freepik */